<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIApplicationShortcutItems</key>
			<array>
				<dict>
					<key>UIApplicationShortcutItemIconType</key>
					<string>UIApplicationShortcutIconTypeSearch</string>
					<key>UIApplicationShortcutItemSubtitle</key>
					<string>Search for an item</string>
					<key>UIApplicationShortcutItemTitle</key>
					<string>Search</string>
					<key>UIApplicationShortcutItemType</key>
					<string>SearchAction</string>
				</dict>
				<dict>
					<key>UIApplicationShortcutItemIconType</key>
					<string>UIApplicationShortcutIconTypeShare</string>
					<key>UIApplicationShortcutItemSubtitle</key>
					<string>Share an item</string>
					<key>UIApplicationShortcutItemTitle</key>
					<string>Share</string>
					<key>UIApplicationShortcutItemType</key>
					<string>ShareAction</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
